<div>
    <div class="text-center">
        <fa-icon class="fa-5x" [icon]="faListAlt"></fa-icon>
    </div>
    <div>
        <h3>
            {{ mensaje }}
        </h3>
    </div>
    <hr>
    <button routerLink="/home/create" class="btn btn-sm btn-success"><fa-icon [icon]="faPencilAlt"></fa-icon>Nueva Reserva</button>
    <table class="table table-hover">
        <thead class="bg-info">
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Pasajero
                </th>
                <th>
                    Vuelo
                </th>
                <th>
                    Ruta
                </th>
                <th>
                    Salida
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of reservas; let i = index">

                <td>
                    {{item.fecha}}
                </td>
                <td>
                    {{item.pasajero.nombre}}
                </td>
                <td>
                    {{item.vuelo.nombre}}
                </td>
                <td>
                    {{item.ruta.nombre}}
                </td>
                <td>
                    {{item.ruta.fecha}}
                </td>
                <td>
                    <button (click)="eliminar(item.idReserva)" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
    <td class="btn-group">
        <button routerLink="/home/vuelo" class="btn btn-sm btn-info"><fa-icon [icon]="faEye"></fa-icon> Información de Vuelos</button>
    </td>
    <router-outlet></router-outlet>
</div>